.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.63) !important;
    z-index: 1000;
    display: flex;
    justify-content: center !important;
    overflow-y: scroll;
}

.ReactModal__Content {
    min-width: 80%;
    top:30px !important
}

.prev-btn {
    padding-left: 5px !important;
}
.prev-btn,.next-btn {
    border:1px solid #E5E5E5;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    color: #189EFF;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btnn-hover {
    /* width: 200px; */
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    /* height: 55px; */
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnn-hover:focus {
    outline: none;
}

.download-btn {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 1px 8px 0 rgb(23 168 108 / 50%);
}