.label {
    color: #999999;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
}

.labelActive {
    color: #4B3A5A;
}

.radioGroup{
    flex-direction: column !important;
    align-items: flex-start;
    display: flex !important;
}